<!DOCTYPE HTML>
<!--
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

-->

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



{% load staticfiles %}

<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'home/css/font-awesome.css' %}" /> -->
<script src="https://use.fontawesome.com/5544ee352a.js"></script>
<link rel="stylesheet" href="{% static 'home/css/skel-noscript.css' %}" />
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'home/css/style-desktop.css' %}" />


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ProteoSeq Web UI</title>

</head>

<body class="homepage">
    <!-- Header -->

    <nav id="navbar_main" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="navbar_main_link" class="navbar-brand" href="#">ProteoSeq</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home:index' %}" style="color:#ffffff">Home</a></li>
                <li><a href="{% url 'analysis:main' %}" style="color:#ffffff">Analysis</a></li>
                <li><a href="{% url 'home:documentation' %}" style="color:#ffffff">Documentation</a></li>
                <li><a href="{% url 'home:contact-us' %}" style="color:#ffffff">Contact Us</a></li>
                <!-- <li><a href="{% url 'usersManager:register_user'%}" style="color:#ffffff">Register</a></li> -->
            </ul>
            {% if not user.is_authenticated %}
                {% if not in_users_management %}
                  <div class="navbar-collapse collapse">
                      <form class="navbar-form navbar-right" action="{% url 'usersManager:login_home'%}?next={{request.path}}" method="post">
                          {% csrf_token %}
                          {% for field in login_form %}
                              {{ field }}
                          {% endfor %}
                      <button type="submit" class="btn btn-primary">Sign in</button>
                      <a id="register_link" name="{% url 'usersManager:register_user'%}?next={{request.path}}" href="javascript:void(0)" style="color:#ffffff;padding-left:10px">Register Here!</a>
                      <!--see base_settings.js for behaviors of this link -->
                      </form>
                  </div>
                  <!-- <div class="navbar-right">
                      <li><a href="{% url 'usersManager:register_user'%}" style="color:#ffffff">or register here!</a></li>
                  </div> -->
                {% else %}
                {% endif %}
            {% else %}


                <div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" action="{% url 'usersManager:logout_user'%}?next={{request.path}}" method="post">
                        {% csrf_token %}
                        <label id="nav_bar_logged_in"> Welcome, {{ user.get_full_name }}&nbsp&nbsp</label>

                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </div>

            {% endif %}
            <!--/.navbar-collapse -->
        </div>
    </nav>


    {% block content %} {% endblock %}

    <script type="text/javascript" src="{% static 'usersManager/js/userManager_settings.js' %}"></script>


</body>

</html>
