{% extends 'home/base.html' %}
{% block content %}
{% load staticfiles %}
<!-- Main -->
<div id="page">

	<!-- Main -->
	<div id="main" class="container">
		<div class="row">
			<div class="9u">
				<section>
					<header>
						<h2>Coming Soon!</h2>
						<span class="byline"></span>
					</header>
					<p> </p>
				</section>
			</div>


		</div>
	</div>

	<div id="main" class="container">
		<div class="row">
			<div class="9u">
				<section>
					<header>
						<h2></h2>
						<span class="byline"></span>
					</header>
					<p> </p>
				</section>
			</div>


		</div>
	</div>


	<div id="main" class="container">
		<div class="row">
			<div class="9u">
				<section>
					<header>
						<h2></h2>
						<span class="byline"></span>
					</header>
					<p> </p>
				</section>
			</div>


		</div>

	</div>

</div>
{% endblock %}
