 {% extends 'home/base.html' %}
 {% block content %}
 {% load staticfiles %}

<!-- Main -->
<div id="page">

	<!-- Main -->
	<div id="main" class="container">
		<div class="row">

			<div class="9u skel-cell-important">
				<section>
					<!--<header>
								<h2>Integer gravida nibh quis urna</h2>
								<span class="byline">Augue praesent a lacus at urna congue rutrum</span>
							</header>-->
					<p>Alternative splicing and other types of mRNA processing events contribute critically to proteome diversity by allowing one gene to encode multiple functionally distinct proteins. The switching of protein isoform expression from one isoform to another
						is widely implicated in disease and environmental stress, including heart diseases, cancer, alcohol exposure, and oxidative damage. Although many alternative isoforms have now been discovered, their existence and abundance at the protein level remain
						mostly unknown to researchers, rendering it very challenging to ascertain their true physiological functions and disease relevance. In theory, researchers can harness RNA-seq in conjunction with shotgun proteomics data to guide analysis for protein
						isoform characterization. However, proteomics and transcriptomics resources are currently fragmentary. Proteomics and transcriptomics data exist in isolated repositories, and computational tools to integrate them are lacking.</p>

					<p>The rapid revolution of Big Data Sciences has now afforded new opportunities for the integration of proteotranscriptomics data. In this new project, we are building ProteoSeq: a user-oriented multi-omics integration platform designed to overcome
						the challenge of incoherent data and computational resources in the currently separate omics fields of proteomics and transcriptomics. ProteoSeq will enable the effective use of complementary RNA and protein data for in-depth inquiry through a series
						of proven and preassembled steps behind a seamless user interface. Our goal is to implement ProteoSeq to enable wide users to combine transcriptomics and proteomics data for the routine, large-scale characterization of alternative protein isoforms
						in various disease models.</p>

					<a href="analysis.html" class="button">Start Analysis</a>
				</section>
			</div>


			<div class="3u">
				<section class="sidebar">
					<header>
						<h2>Public Datasets</h2>
					</header>
					<ul class="style1">
						<h2>Proteomics</h2>
						<li><a href="http://www.ebi.ac.uk/pride/archive/">PRIDE Archive</a></li>
						<li><a href="http://www.peptideatlas.org/">Peptide Atlas</a></li>
						<li><a href="https://www.proteomicsdb.org/">Proteomics DB</a></li>
						<li>
							<a href="#"></a>
						</li>

					</ul>
				</section>
				<section class="sidebar">
					<header>

					</header>
					<ul class="style1">
						<h2>RNA-seq</h2>
						<li><a href="#">ENCODE</a></li>
						<li><a href="#">dbGAP</a></li>
						<li><a href="#">GeneDB</a></li>
						<li>
							<a href="#"></a>
						</li>

					</ul>
				</section>
			</div>
		</div>
	</div>
	<!-- Main -->
</div>
<!-- /Main -->



<!-- Featured -->
<div id="featured">
	<div class="container">
		<div class="row">
			<section class="4u">
				<div class="box">
					<a href="#" class="image left"><img src="{% static 'home/images/pics04.jpg' %}" alt=""></a>
					<h3>Protein Inference Problem</h3>
					<p> </p>
					<p> </p>
					<a href="#" class="button">More</a>
				</div>
			</section>
			<section class="4u">
				<div class="box">
					<a href="#" class="image left"><img src="{% static 'home/images/pics05.jpg' %}" alt=""></a>

					<h3>Shotgun Proteomics</h3>
					<p> </p>
					<p> </p>
					<p> </p>
					<a href="#" class="button">More</a>
				</div>
			</section>
			<section class="4u">
				<div class="box">
					<a href="#" class="image left"><img src="{% static 'home/images/pics06.jpg' %}" alt=""></a>
					<h3>3rd generation RNA-sequencing</h3>
					<p> </p>
					<p> </p>
					<a href="#" class="button">More</a>
				</div>
			</section>
		</div>
		<div class="divider"></div>
	</div>
</div>
<!-- /Featured -->
{% endblock %}
