* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: left;
  /*font-family: Lato;*/
  color: #fff;
  /*background: #fff;*/
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  /*text-transform: uppercase;*/
  float: left;
  margin: 20px 0 100px 10px;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  /*margin: 80px 0 0 10px;*/
  margin:80px auto;
  text-align: left;
}
.tabs .tab-li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs .tab-label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  /*text-transform: uppercase;*/
  /*background: #8e44ad;*/
  background: #005c99;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs .tab-label:hover {
  background: #003366;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #0099cc;
}
.tabs [id^="tab"]:checked + .tab-label {
  top: 0;
  padding-top: 17px;
  background: #0099cc;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
